body {
    width: 80vw;
    height: 100vh;
    justify-self: center;
}

section {
    display: grid;
    grid-template-areas: "header"
        "storys"
        "content"
        "footer";
    /* grid-template-areas: repeat(22, minmax(3vw, 3vw)); */
    /* grid-template-rows: repeat(66, minmax(3vw, 3vw)); */
    /* place-items: center; */
    /* align-items: center; */
    /* justify-items: center; */
    /* border: 1px solid black; */
    background-color: hsl(0deg 0% 0%);
}

header {
    position: sticky;
    grid-area: header;
    display: grid;
    top: 0;
    /* grid-area: 1/1/4/23; */
    /* position: fixed; */
    /* place-self: stretch; */
    /* align-self: stretch; */
    height: 50px;
    /* justify-self: stretch; */
    /* border: 1px solid black; */
    background-color: hsl(212, 162, 97);
}

main.storys {
    grid-area: storys;
    /* flex-grow: 1; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
}


footer {
    position: sticky;
    bottom: 0;
    grid-area: footer;
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    padding: 0 15px;
    background-color: hsl(212, 162, 97);
}

.footer {
    height: 1.5rem;
}

.header.text {
    grid-area: 1/9/4/15;
    /* border: 1px solid black; */
    font-size: 3vw;
    color: white;
    /* align-self: center; */
    /* justify-self: center; */
    place-self: center;

}

.header.cam {
    grid-area: 1/1/4/4;
    /* border: 1px solid black; */
    width: 5vw;
    height: 4.5vw;
    /* /* color: white; */
    place-self: center;
    justify-self: center;
}

.header.search {
    /* border: 1px solid black; */
    grid-area: 1/20/4/23;
    /* grid-column: 11/11; */
    width: 5vw;
    height: 5vw;
    color: white;
    place-self: center;
    justify-self: center;
}

.profile_img {
    border-radius: 50%;
    grid-area: 1/19/4/23;
    width: 12vw;
    height: 12vw;
    /* color: white; */
    place-self: center;
    justify-self: center;
}

.img1 {
    grid-area: 2/1/5/2;
    border: 3px solid linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    ;
    /* border-color: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    background-color: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162)); */
}

.p1 {
    grid-area: 5/1/6/2;
    align-self: center;
    justify-self: center;
}

.img2 {
    grid-area: 2/2/5/3;
    border: 3px solid rgb(206, 32, 154);
}

.p2 {
    grid-area: 5/2/6/3;
    align-self: center;
    justify-self: center;
}

.img3 {
    grid-area: 2/3/5/4;
    border: 3px solid rgb(206, 32, 154);
}

.p3 {
    grid-area: 5/3/6/4;
    align-self: center;
    justify-self: center;
}

.img4 {
    grid-area: 2/4/5/5;
    border: 3px solid rgb(206, 32, 154);
}

.p4 {
    grid-area: 5/4/6/5;
    align-self: center;
    justify-self: center;

}

main.content {
    grid-area: content;
    /* flex-grow: 1; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 100%;
}

.imgprofile {
    background: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    border-radius: 50%;
    align-self: center;
}

.imgprofile.a {
    grid-area: 1/1/2/3;
    /* margin-top: 10px; */
    /* grid-area: 6/1/8/1; */
    /* margin-left: 15px; */
    width: 33px;
    height: 33px;
    justify-self: center;
    align-self: center;
}

.imgprofile.b {
    width: 26px;
    height: 26px;
    justify-self: center;
}

#tj {
    grid-area: 1/3/2/6;
    align-self: center;
    justify-self: start;
    /* padding-left: 60px; */
    color: white;
}

#icon {
    grid-area: 1/12/2/13;
    align-self: center;
    justify-self: start;
    color-scheme: black;
}

.content_img {
    grid-area: 2/1/3/13;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    /* padding-left: 40px; */
}

.main_icons {
    height: 1.5rem;
    /* width: 1.5rem; */
}

.icon1 {
    grid-area: 3/1/3/3;
    align-self: center;
    justify-self: center;
    color-scheme: black;
}
.icon2 {
    grid-area: 3/2/3/4;
    align-self: center;
    justify-self: center;
    color-scheme: black;
}
.icon3 {
    grid-area: 3/3/3/5;
    align-self: center;
    justify-self: center;
    color-scheme: black;
}
.icon4 {
    grid-area: 3/12/3/13;
    align-self: center;
    justify-self: start;
    color-scheme: black;
}