body {
    min-width: 60%;
    max-width: 60%;
    height: 100vh;
    color: black;
    justify-self: center;
}

main {
    display: grid;
    flex-basis: 100%;
    grid-template-areas: "header"
        "storys"
        "content1"
        "content2"
        "footer";
    /* width: 100%; */
    /* height: 100%; */
    /* grid-template-areas: repeat(22, minmax(3vw, 3vw)); */
    /* grid-template-rows: repeat(66, minmax(3vw, 3vw)); */
    /* place-items: center; */
    /* align-items: center; */
    /* justify-items: center; */
    /* border: 1px solid black; */
    background-color: hsl(0deg 0% 0%);
}

#header {
    position: sticky;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    top: 0;
    flex-basis: 100%;
    align-items: center;
    place-items: center;
    justify-content: center;
    background-color: black;
    padding: 15px 15px;
}

.storys {
    flex-basis: 100%;
    grid-area: storys;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
}


footer {
    position: sticky;
    grid-area: footer;
    display: grid;
    flex-basis: 100%;
    grid-template-columns: repeat(5, 1fr);
    bottom: 0;
    background-color: black;
    align-items: center;
    place-items: center;
    /* justify-items: center; */
    padding: 15px 15px;
}

.footer {
    height: 2rem;
}

#textheader {
    grid-area: 1/2/2/3;
    /* width: 30px; */
    /* height: 2rem; */
    color: white;
    font-size: 2rem;
    /* align-self: center; */
    /* justify-self: center; */
    place-self: center;

}

.header.cam {
    grid-area: 1/1/2/2;
    /* border: 1px solid black; */
    height: 2rem;
    /* /* color: white; */
    place-self: center;
    justify-self: start;
}

.header.search {
    /* border: 1px solid black; */
    grid-area: 1/3/2/4;
    /* grid-column: 11/11; */
    height: 2rem;
    color: white;
    place-self: center;
    justify-self: end;
}

.profile_img {
    border-radius: 50%;
    grid-area: 1/19/4/23;
    width: 50%;
    height: 100%;
    /* color: white; */
    place-self: center;
    justify-self: center;
}

.img1 {
    border: 3px solid linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    grid-area: 2/1/5/2;
    ;
    /* border-color: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    background-color: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162)); */
}

.p1 {
    grid-area: 5/1/6/2;
    align-self: center;
    justify-self: center;
}

.img2 {
    grid-area: 2/2/5/3;
    border: 3px solid rgb(206, 32, 154);
}

.p2 {
    grid-area: 5/2/6/3;
    align-self: center;
    justify-self: center;
}

.img3 {
    grid-area: 2/3/5/4;
    border: 3px solid rgb(206, 32, 154);
}

.p3 {
    grid-area: 5/3/6/4;
    align-self: center;
    justify-self: center;
}

.img4 {
    grid-area: 2/4/5/5;
    border: 3px solid rgb(206, 32, 154);
}

.p4 {
    grid-area: 5/4/6/5;
    align-self: center;
    justify-self: center;

}

.content1 {
    grid-area: content1;
    /* flex-grow: 1; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 100%;
}

.content2 {
    grid-area: content2;
    /* flex-grow: 1; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 100%;
}

.imgprofile {
    background: linear-gradient(rgb(78, 4, 60), rgb(238, 41, 162));
    border-radius: 50%;
    align-self: center;
}

.imgprofile.a {
    grid-area: 1/1/2/3;
    margin: 3vh 0;
    width: 6vw;
    height: 6vw;
    justify-self: center;
    align-self: center;
}

.imgprofile.b {
    width: 2rem;
    height: 2rem;
    justify-self: center;
}

div.content_img {
    display: grid;
    grid-template-columns: 9fr 10fr;
    /* justify-items: center;
    place-items: center;
    align-items: center; */
    width: 100%;
}

.name {
    grid-area: 1/3/2/6;
    align-self: center;
    justify-self: center;
    font-size: 3vw;
    /* padding-left: 60px; */
    color: white;
}

.nameicon {
    grid-area: 1/12/2/13;
    width: 5vh;
    align-self: center;
    justify-self: start;
    color-scheme: black;
}

.content_img {
    grid-area: 2/1/3/13;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    /* padding-left: 40px; */
}

.content_img1 {
    grid-area: 1/1/1/1;
    width: 100%;
}

.content_img2 {
    grid-area: 1/2/2/2;
    width: 100%;
}

.profile_text {
    color: white;
    font-size: 2.5vw;
}

.main_icons {
    grid-area: 1/1/2/3;
    margin: 3vh 0;

    width: 4vw;
    height: 4vw;
    justify-self: center;
    align-self: center;
}

.icon1 {
    grid-area: 3/1/3/3;
}

.icon2 {
    grid-area: 3/2/3/4;

}

.icon3 {
    grid-area: 3/3/3/5;

}

.icon4 {
    grid-area: 3/12/3/13;
    justify-self: start;
}

.text {
    color: white;
    padding-top: 0.5rem;
    padding-left: 2.4rem;
    justify-self: start;
}

.p100 {
    grid-area: 4/1/4/10;

}

.p200 {
    grid-area: 5/1/5/10;
}

.p300 {
    grid-area: 6/1/6/10;
    color: rgb(255, 255, 255, 0.5);
}

.span {
    font-weight: bold;
}